*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(218, 221, 221);
}
.container{
    margin: 60px;
}
.row{
    display: flex;
    margin-top: 60px;
}
.card{
    border: solid 2px #0000;
    width: 400px;
    height: 400px;
    background-color: rgb(238, 241, 243);
    margin-left: 70px;
    border-radius: 10%;
    padding: 30px;
}
button{
    background-color:brown;
    border: none;
    padding: 7px;
    border-radius: 10px;
}
a{
    text-decoration: none;
    color: white;
}
.img{
    margin-left: 190px;
    color: black;
}
nav ul{
    display: flex;
    background-color: brown;
    padding: 10px;
    
}

nav ul li{
    margin-right: 20px;
    text-decoration: none;
    list-style: none;
    margin-left: 30px;
}
nav ul li :hover{
    color: rgb(255, 123, 0);
}