
  @import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Press+Start+2P&display=swap');


*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(218, 221, 221);
}
.container{
    margin: 60px;
}
.row{
    display: flex;
    margin-top: 60px;
}

/* styling galeri.html */
.judul{
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    color: brown;
    margin-bottom: 50px;
}
.judul span{
    color: rgb(42, 75, 165);
}
.sub-judul{
    text-align: center;
    font-size: 18px;
    color: white;
    margin-bottom: 15px;
}
.baris{
    margin-top: 20px;
}
.card{
    width: 250px;
    height: 330px;
    border-radius: 10px;
    background-color:brown;
    box-shadow: 3px 3px 2px rgba(0,0,0,0.4);
    margin: 0 0 30px 37px ;
    padding: 5px;
    display: inline-block;
}
.card i{
    font-size: 12px; 
    color: rgb(236, 184, 70); 
}
.card img{
    width: 250px;
    height: 240px;
    border-radius: 10px;
}
.card-blue{
    width: 250px;
    height: 330px;
    border-radius: 10px;
    background-color:rgb(42, 75, 165);
    box-shadow: 3px 3px 2px rgba(0,0,0,0.4);
    margin: 0 0 30px 37px ;
    padding: 5px;
    display: inline-block;
}
.card-blue img{
    width: 250px;
    height: 240px;
    border-radius: 10px;
}
.card-blue i{
    font-size: 12px; 
    color: rgb(236, 175, 106); 
}

/* End styling galeri.html */

button{
    background-color:brown;
    border: none;
    padding: 7px;
    border-radius: 10px;
}
a{
    text-decoration: none;
    color: white;
}
.img{
    margin-left: 190px;
    color: black;
}
nav ul{
    display: flex;
    background-color: brown;
    padding: 10px;
    
}

nav ul li{
    margin-right: 20px;
    text-decoration: none;
    list-style: none;
    margin-left: 30px;
}
nav ul li :hover{
    color: rgb(255, 123, 0);
}


